.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #27a9f5 0%,
    #60cfff 29%,
    #ff279e   67%,
    #f37db0  100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #ffff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: Verdana,Tahoma, sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%); translateY(-50%)

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
p
{

    font-size: 20px;
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: Verdana,Tahoma, sans-serif;
      color: #000000;
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translateX(-50%); translateY(-50%)

}
ul 
{
  font-size: 20px;
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: Verdana,Tahoma, sans-serif;
      color: #000000;
      position: absolute;
      top: 66%;
      left: 50%;
      transform: translateX(-50%); translateY(-50%)
      
}

ul {
  list-style-type: none;
}

